
/* My services section */

.my-services {
    background-color: var(--clr-dark-1);
    background-image: url(../../services-bg.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light-1);
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent-1);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light-1);
    opacity: 0.25;
}

.services {
    margin-bottom: 4em;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        
    }

    .service + .service { 
        margin-left: 2em;
    }
}
