---
import "../styles/contact.css"
---

 <section class="contact" id="contact" data-nav="Contact">
        <h2 class="title-contact">Contact</h2>
        <p class="first-subtitle-contact">Interested in My Work?</p>

        <div class="contact-form">
          <form class="contact-form"  method="POST" data-netlify="true">
            <label for="fname" class="fname-label"></label>
            <input
              class="field-input"
              id="fname"
              type="text"
              placeholder="Your name"
            />

            <label for="email" class="email-label"></label>
            <input
              class="field-input"
              id="email"
              type="email"
              placeholder="Your email address"
            />

            <label for="message" class="message-label"></label>
            <textarea
              class="message-textarea"
              id="message"
              placeholder="Leave Me A Message "
            ></textarea>

            <button class="btn">send</button>
          </form>
        </div>
      </section>    